<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Control1</servlet-name>
        <servlet-class>Contrloladores.Control1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Control2</servlet-name>
        <servlet-class>Contrloladores.Control2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarEsquemas</servlet-name>
        <servlet-class>Contrloladores.ListarEsquemas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarTablas</servlet-name>
        <servlet-class>Contrloladores.ListarTablas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarColumnas</servlet-name>
        <servlet-class>Contrloladores.ListarColumnas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>buscarCol</servlet-name>
        <servlet-class>Contrloladores.buscarCol</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>buscarEs</servlet-name>
        <servlet-class>Contrloladores.buscarEs</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>buscarTa</servlet-name>
        <servlet-class>Contrloladores.buscarTa</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Control3</servlet-name>
        <servlet-class>Contrloladores.Control3</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Control1</servlet-name>
        <url-pattern>/Control1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Control2</servlet-name>
        <url-pattern>/Control2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarEsquemas</servlet-name>
        <url-pattern>/ListarEsquemas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarTablas</servlet-name>
        <url-pattern>/ListarTablas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarColumnas</servlet-name>
        <url-pattern>/ListarColumnas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>buscarCol</servlet-name>
        <url-pattern>/buscarCol</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>buscarEs</servlet-name>
        <url-pattern>/buscarEs</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>buscarTa</servlet-name>
        <url-pattern>/buscarTa</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Control3</servlet-name>
        <url-pattern>/Control3</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
